$primary-color: #fff;

@mixin button-hover-styles {
  transition: all 0.3s ease-out;
  background: $primary-color;
  color: #242424;
  transition: 250ms;
}

.btn {
  border: none;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  &--medium {
    padding: 8px 20px;
    font-size: 16px;
    &:hover {
      @include button-hover-styles();
    }
  }
  &--primary {
    background-color: $primary-color;
    color: #242424;
    border: 1px solid $primary-color;
  }
  &--outline {
    background-color: transparent;
    color: $primary-color;
    padding: 8px 20px;
    border: 1px solid $primary-color;
    transition: all 0.3s ease-out;
  }
  &--large {
    padding: 12px 28px;
    font-size: 19px;
    &:hover {
      @include button-hover-styles();
    }
  }
}
